.details-modal {
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  border-bottom: 0px !important;
  margin: 0rem;
  text-align: center;
}
.details-header {
  border-bottom: 0rem !important;
  h5 {
    font-size: 1.17em !important;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}
