@import "./_variables.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
}

.app-header {
  background: linear-gradient(to right, $yellow-white-light, $yellow-light);
  font-size: 2rem;
  margin: 0rem;
  text-align: center;
}
.app-body {
  background: linear-gradient(to right, $yellow-white-light, $yellow-light);
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.app-footer {
  background: linear-gradient(to right, $yellow-white-light, $yellow-light);
  font-family: monospace;
  margin: 0rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.btn-button {
  display: inline-block !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  padding: 0.375rem 0.75rem !important;
}
