$primary: #b70303;
$primary-dark: #880000;
$primary-light: #a51c1c;

$yellow-light: #efefbb;
$yellow-white-light: #d4d3dd;

$white: #ffff;

$gray: #c1c0c0;

$light-blue-gray: #647687;
$blue-gray: #515e6b;
